# HELP https://www.cyberciti.biz/tips/bash-shell-parameter-substitution-2.html
# XXX=${XXX?"Required to be defined only, possible empty"}
# XXX=${XXX:?"Required to be defined and non-empty"}

MAIN_DOMAIN=${MAIN_DOMAIN:?}
ACCOUNT_DOMAIN=${ACCOUNT_DOMAIN:?}
API_URL=${API_URL:?}
LOCALE_COOKIE_DOMAIN=${LOCALE_COOKIE_DOMAIN:?}
LOCALE_COOKIE_KEY=${LOCALE_COOKIE_KEY:?}
SENTRY_DSN=${SENTRY_DSN?}
COOKIE_ACCESS_TOKEN_KEY=${COOKIE_ACCESS_TOKEN_KEY:?}
COOKIE_ACCESS_TOKEN_DOMAIN=${COOKIE_ACCESS_TOKEN_DOMAIN:?}
INYUR_CDN_HOST=${INYUR_CDN_HOST:?}
INYUR_CDN_ASSETS_PATH=${INYUR_CDN_ASSETS_PATH}
OAUTH_INYUR_CLIENT_ID="${OAUTH_INYUR_CLIENT_ID:?}"
